@import "../../../../library";

.gradeColorA {
  color: #f7abab;
}

.gradeColorB {
  color: #89c997;
}

.gradeColorC {
  color: #ffe222;
}

table {
  border-collapse: collapse;
  border-color: #1d9a9a;
  font-size: 1.5rem;
  font-weight: 400;

  thead {
    tr {
      background-color: rgba(6, 19, 31, 0.6);
    }

    th {
      color: #51ffff;
    }
  }

  tr {
    color: white;
    text-align: center;
    line-height: 2.5rem;
  }

  tr:nth-child(even) {
    background-color: rgba(6, 19, 31, 0.6);
  }
}

