<form (ngSubmit)="query()" [formGroup]="searchForm" class="search-area" fxLayoutGap="16px">
  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'workshop'|translate" formControlName="workshopId" required>
      <mat-option *ngFor="let it of workshops$|async" [value]="it.id">
        {{it.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'PackageBox.type'|translate" formControlName="type">
      <mat-option>{{'Common.all'|translate}}</mat-option>
      <mat-option *ngFor="let it of packageBoxTypes" [value]="it">
        {{('PackageBoxType.' + it)|translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'product'|translate" formControlName="productId">
      <mat-option>{{'Common.all'|translate}}</mat-option>
      <mat-option *ngFor="let it of products$|async" [value]="it.id">
        {{it.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="never" style="width: 150px;">
    <mat-label>{{'batchNo'|translate}}</mat-label>
    <app-batch-input formControlName="batch"></app-batch-input>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'grade'|translate" formControlName="gradeId">
      <mat-option>{{'Common.all'|translate}}</mat-option>
      <mat-option *ngFor="let it of grades$|async" [value]="it.id">
        {{it.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <input [matDatepicker]="startDatePicker" [matTooltip]="'PackageBox.budat'|translate" [placeholder]="'Common.startDate'|translate" formControlName="startDate" matInput required>
    <mat-datepicker-toggle [for]="startDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <input [matDatepicker]="endDatePicker" [matTooltip]="'PackageBox.budat'|translate" [placeholder]="'Common.endDate'|translate" formControlName="endDate" matInput required>
    <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'packageClass'|translate" formControlName="budatClassId">
      <mat-option>{{'Common.all'|translate}}</mat-option>
      <mat-option *ngFor="let it of packageClasses$|async" [value]="it.id">
        {{it.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="never" style="width: 150px;">
    <input [placeholder]="'PackageBox.code'|translate" formControlName="code" matInput>
  </mat-form-field>

  <button [disabled]="searchForm.invalid" color="primary" mat-icon-button tabindex="-1">
    <mat-icon>search</mat-icon>
  </button>

  <span fxFlex></span>
  <!--  <button (click)="print()" [disabled]="selection.selected?.length<1" color="primary" mat-stroked-button type="button">-->
  <!--    {{'Common.print'|translate}} ({{selection.selected.length}})-->
  <!--  </button>-->
</form>

<mat-divider></mat-divider>

<div fxFlex style="overflow: auto;width: 100vw;">
  <table [dataSource]="dataSource" class="package-box" mat-table>
    <ng-container matColumnDef="select" sticky>
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
        <ng-container *ngIf="isValidPalletCode(row)">
          <span [matTooltip]="row.palletCode" class="pallet-code" matTooltipPosition="right"></span>
        </ng-container>
      </td>
    </ng-container>

    <!--    <ng-container matColumnDef="compositeField" sticky>-->
    <!--      <th (click)="masterToggle()" *matHeaderCellDef mat-header-cell>-->
    <!--        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="32px">-->
    <!--          <span translate="PackageBox.code"></span>-->
    <!--          <mat-divider vertical></mat-divider>-->
    <!--          <span translate="batchNo"></span>-->
    <!--        </div>-->
    <!--      </th>-->
    <!--      <td (click)="selection.toggle(row)" *matCellDef="let row" mat-cell matRipple>-->
    <!--        <div fxLayout>-->
    <!--          <span fxFlex="240px">{{row.code}}</span>-->
    <!--          <mat-divider vertical></mat-divider>-->
    <!--          <span [matTooltip]="batchTooltip(row)" fxFlex="100px">-->
    <!--            {{row.batch.batchNo}}-->
    <!--          </span>-->
    <!--        </div>-->
    <!--      </td>-->
    <!--    </ng-container>-->
    <ng-container matColumnDef="compositeField" sticky>
      <th *matHeaderCellDef mat-header-cell>
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="32px">
          <span translate="PackageBox.code"></span>
          <mat-divider vertical></mat-divider>
          <span translate="batchNo"></span>
        </div>
      </th>
      <td *matCellDef="let row" mat-cell>
        <div fxLayout>
          <span fxFlex="240px">{{row.code}}</span>
          <mat-divider vertical></mat-divider>
          <span [matTooltip]="batchTooltip(row)" fxFlex="100px">
            {{row.batch.batchNo}}
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th *matHeaderCellDef mat-header-cell>{{'grade'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.grade.name}}</td>
    </ng-container>

    <ng-container matColumnDef="silkCount">
      <th *matHeaderCellDef mat-header-cell>{{'silkCount'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.silkCount}}</td>
    </ng-container>

    <ng-container matColumnDef="netWeight">
      <th *matHeaderCellDef mat-header-cell>{{'netWeight'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.netWeight|number:'.3-3'}}</td>
    </ng-container>

    <ng-container matColumnDef="grossWeight">
      <th *matHeaderCellDef mat-header-cell>{{'grossWeight'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.grossWeight|number:'.3-3'}}</td>
    </ng-container>

    <ng-container matColumnDef="sapT001l">
      <th *matHeaderCellDef mat-header-cell>{{'PackageBox.sapT001l'|translate}}</th>
      <td *matCellDef="let row" mat-cell>
        <span *ngIf="row.sapT001l" [matTooltip]="row.sapT001l?.lgobe">
          {{row.sapT001l.lgort}} / {{('SaleType.' + row.saleType)|translate}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="budat">
      <th *matHeaderCellDef mat-header-cell>{{'PackageBox.budat'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.budat|date:'yyyy-MM-dd'}} / {{row.budatClass?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="palletType">
      <th *matHeaderCellDef mat-header-cell>{{'palletType'|translate}}</th>
      <td *matCellDef="let row" mat-cell>
        <span [matTooltipDisabled]="!isValidPalletCode(row)" [matTooltip]="row.palletCode">
          {{row.palletType}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="packageType">
      <th *matHeaderCellDef mat-header-cell>{{'PackageBox.packageType'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.packageType}}</td>
    </ng-container>

    <ng-container matColumnDef="foamType">
      <th *matHeaderCellDef mat-header-cell>{{'foamType'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.foamType}}</td>
    </ng-container>

    <ng-container matColumnDef="foamNum">
      <th *matHeaderCellDef mat-header-cell>{{'foamNum'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.foamNum}}</td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th *matHeaderCellDef mat-header-cell>{{'Common.creator'|translate}}</th>
      <td *matCellDef="let row" mat-cell>
        {{row.creator.name}}
        <ng-container *ngIf="row.creator.hrId">
          [{{row.creator.hrId}}]
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="createDateTime">
      <th *matHeaderCellDef mat-header-cell>{{'Common.time'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.createDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
    </ng-container>

    <ng-container matColumnDef="palletCode">
      <th *matHeaderCellDef mat-header-cell>{{'palletCode'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.palletCode}}</td>
    </ng-container>

    <ng-container matColumnDef="btns" stickyEnd>
      <th *matHeaderCellDef mat-header-cell>{{'Common.operation'|translate}}</th>
      <td *matCellDef="let row" [matMenuTriggerFor]="btnsMenu" mat-cell matRipple>
        <mat-icon>list</mat-icon>
        <mat-menu #btnsMenu="matMenu">
          <button (click)="detail(row)" color="primary" mat-menu-item type="button">
            {{'Common.detail'|translate}}
          </button>
          <button (click)="print()" [disabled]="row.type==='BIG_SILK_CAR'" color="primary" mat-menu-item type="button">
            {{'Common.print'|translate}}
          </button>
          <button (click)="delete(row)" *ngIf="isAdmin$|async" color="primary" mat-menu-item type="button">
            {{'Common.delete'|translate}}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr (click)="copy(row.code,$event)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>

<mat-paginator (page)="onPageEvent($event)" [length]="count$|async" [pageIndex]="pageIndex$|async" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize$|async" showFirstLastButtons></mat-paginator>
