<form [formGroup]="searchForm" class="search-area" fxLayoutGap="16px">
  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'workshop'|translate" formControlName="workshopId" required>
      <mat-option *ngFor="let it of workshops$|async" [value]="it.id">
        {{it.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="searchForm.get('workshopId').hasError('required')">
      {{'Validator.required'|translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <input [matDatepicker]="startDatePicker" [placeholder]="'Common.startDate'|translate" formControlName="startDate" matInput required>
    <mat-datepicker-toggle [for]="startDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-error *ngIf="searchForm.get('startDate').hasError('required')">
      {{'Validator.required'|translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <input [matDatepicker]="endDatePicker" [placeholder]="'Common.endDate'|translate" formControlName="endDate" matInput required>
    <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-error *ngIf="searchForm.get('endDate').hasError('required')">
      {{'Validator.required'|translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <mat-select [placeholder]="'product'|translate" formControlName="productId">
      <mat-option>{{'Common.all'|translate}}</mat-option>
      <mat-option *ngFor="let it of products$|async" [value]="it.id">
        {{it.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex></span>
  <button (click)="create()" mat-mini-fab tabindex="-1" type="button">
    <mat-icon>add</mat-icon>
  </button>
</form>

<mat-divider></mat-divider>

<mat-table [dataSource]="dataSource" fxFlex>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>CODE</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="batch">
    <mat-header-cell *matHeaderCellDef>{{'batchNo'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.batch.batchNo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="grade">
    <mat-header-cell *matHeaderCellDef>{{'grade'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.grade.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="palletCode">
    <mat-header-cell *matHeaderCellDef>{{'palletCode'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.palletCode}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="palletType">
    <mat-header-cell *matHeaderCellDef>{{'palletType'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.palletType}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="packageType">
    <mat-header-cell *matHeaderCellDef>{{'packageType'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.packageType}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="foamType">
    <mat-header-cell *matHeaderCellDef>{{'foamType'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.foamType}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="foamNum">
    <mat-header-cell *matHeaderCellDef>{{'foamNum'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.foamNum}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="silkCountSpec">
    <mat-header-cell *matHeaderCellDef>{{'silkCountSpec'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.silkCount}} / {{row.netWeight}} / {{row.grossWeight}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sapT001lSpec">
    <mat-header-cell *matHeaderCellDef>{{'sapT001l'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.silkCount}} / {{row.netWeight|number:'.3-3'}}
      / {{row.grossWeight|number:'.3-3'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="budat">
    <mat-header-cell *matHeaderCellDef>{{'Common.budat'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.budat|date:'yyyy-MM-dd'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="budatClass">
    <mat-header-cell *matHeaderCellDef>{{'packageClass'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.budatClass.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="creator">
    <mat-header-cell *matHeaderCellDef>{{'Common.creator'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.creator.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createDateTime">
    <mat-header-cell *matHeaderCellDef>{{'Common.time'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.createDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="btns">
    <mat-header-cell *matHeaderCellDef>{{'Common.operation'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row" [matMenuTriggerFor]="btnsMenu" matRipple>
      <mat-icon>list</mat-icon>
      <mat-menu #btnsMenu="matMenu">
        <button (click)="update(row)" *ngIf="isShow(row)" color="primary" mat-menu-item type="button">
          {{'Common.edit'|translate}}
        </button>
        <button (click)="delete(row)" *ngIf="isShow(row)" color="warn" mat-menu-item type="button">
          {{'Common.delete'|translate}}
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
