<header fxLayout fxLayoutAlign="start center">
  <span fxFlex="50px">{{event.operator.name}}</span>
  <span fxFlex>{{event.fireDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
  <button [matMenuTriggerFor]="menu" mat-button type="button">
    {{('EventSourceType.' + event.type)|translate}}
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</header>

<section>
  <table [dataSource]="[packageBox]" mat-table>
    <ng-container matColumnDef="code">
      <th *matHeaderCellDef mat-header-cell>{{'PackageBox.code'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.code}}</td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th *matHeaderCellDef mat-header-cell>{{'grade'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.grade.name}}</td>
    </ng-container>

    <ng-container matColumnDef="silkCount">
      <th *matHeaderCellDef mat-header-cell>{{'silkCount'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.silkCount}}</td>
    </ng-container>

    <ng-container matColumnDef="netWeight">
      <th *matHeaderCellDef mat-header-cell>{{'netWeight'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.netWeight|number:'.3-3'}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</section>
