<main fxLayout>
  <aside>
    <div style="color: white;font-size: 20px">MES-AUTO</div>
    <div style="color: white;font-size: 16px">V3.0</div>
  </aside>

  <div class="loginForm">
    <form [@shake]="shake$|async" fxLayout="column" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field floatLabel="never">
        <input formControlName="loginId" matInput required>
        <button tabindex="-1" type="button" mat-icon-button matPrefix>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field floatLabel="never">
        <input formControlName="loginPassword" matInput [type]="hide ? 'password' : 'text'" required>
        <button tabindex="-1" type="button" mat-icon-button matPrefix>
          <mat-icon>lock</mat-icon>
        </button>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-stroked-button color="primary" [disabled]="form.pristine||form.invalid">
        {{'Common.finish'|translate}}
      </button>
    </form>
  </div>
</main>
