<form class="search-area">
  <span fxFlex></span>
  <button (click)="create()" mat-mini-fab tabindex="-1" type="button">
    <mat-icon>add</mat-icon>
  </button>
</form>

<mat-table [dataSource]="packageClasses$" fxFlex>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>{{'Common.name'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="riambCode">
    <mat-header-cell *matHeaderCellDef>{{'riambCode'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.riambCode}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sortBy">
    <mat-header-cell *matHeaderCellDef>{{'sortBy'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.sortBy}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="btns">
    <mat-header-cell *matHeaderCellDef>{{'Common.operation'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button (click)="update(row)" color="primary" mat-button>
        {{'Common.edit'|translate}}
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns$|async; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns$|async;"></mat-row>
</mat-table>
