@import "../../../library";

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

span.pallet-code {
  position: absolute;
  background-color: red;
  top: 4px;
  left: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

table.package-box {
  td.dd {
    //background-color: #fbed50;
    //background-color: #c4e3f3;
    //background-color: @pink-600;
  }

  tr.printed {
    background-color: honeydew;
  }
}
