@asideW: 200px;

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}

aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: @asideW;
  max-width: @asideW;
  min-height: 100vh;
  //background-color: #1f2018;
  background-image: url('../../../../assets/img/login-page/aside.png');
  //background-image: url(https://thumbs.dreamstime.com/z/colorful-cubes-aside-festive-background-clip-art-36872579.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  //color: black;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  width: 400px;
}
