@page {
  size: 20cm 16cm;
  margin: 0;
}

div.package-box {
  /*border: 1px solid #000;*/
  width: 20cm;
  height: 16cm;
  padding-top: 3.2cm;
  font-size: 0.9cm;
}

span.line {
  text-align: center;
  line-height: 1.64cm;
}

span.line.bold {
  font-size: 1.5cm;
  font-weight: bold;
}
