@page {
  size: 20cm 16cm;
  margin: 0;
  padding: 0;
}

div.package-box {
  position: relative;
  width: 20cm;
  height: 16cm;
  font-size: 9mm;
}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 28mm;
  height: 18mm;
  width: 8cm;
}

.box.bold {
  font-size: 1.5cm;
  font-weight: bold;
}

div.batchNo {
  top: 25mm;
}

div.spec {
  top: 43mm;
}

div.grade {
  top: 61mm;
}

div.silkCount {
  top: 79mm;
}

div.tubeColor {
  top: 97mm;
}

div.printDate {
  top: 115mm;
}

div.code {
  top: 133mm;
  height: 25mm;
}

div.netWeight {
  top: 25mm;
  left: 114mm;
  justify-content: flex-end;
}

div.grossWeight {
  top: 43mm;
  left: 114mm;
  justify-content: flex-end;
}

qrcode {
  position: absolute;
  top: 7cm;
  left: 117mm;
  width: 8cm;
  height: 8cm;
}
