<header fxLayout fxLayoutAlign="start center">
  <span fxFlex="50px">{{event.operator.name}}</span>
  <span fxFlex>{{event.fireDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
  <button [matMenuTriggerFor]="menu" mat-button type="button">
    {{productProcess.name}}
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon color="warn">delete</mat-icon>
      <span>{{'Common.undo'|translate}}</span>
    </button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</header>

<section *ngIf="silkRuntimes?.length>0" fxLayout="column">
  <div fxLayout fxLayoutGap="16px" style="padding: 8px 0 8px 8px;">
    <mat-chip *ngFor="let it of event.silkExceptions" [selectable]="false" color="accent" disableRipple selected>
      {{it.name|translate}}
    </mat-chip>

    <mat-chip *ngFor="let it of event.silkNotes" [selectable]="false" disableRipple>
      {{it.name|translate}}
    </mat-chip>
  </div>

  <table [dataSource]="silkRuntimes" mat-table>
    <ng-container matColumnDef="code">
      <th *matHeaderCellDef mat-header-cell>{{'Silk.code'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.silk.code}}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>{{'position'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.sideType}}-{{row.row}}-{{row.col}}</td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th *matHeaderCellDef mat-header-cell>{{'grade'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.grade?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="spec">
      <th *matHeaderCellDef mat-header-cell>{{'spec'|translate}}</th>
      <td *matCellDef="let row" mat-cell>
        {{row.silk.lineMachine.line.name}}-{{row.silk.spindle}}/{{row.silk.lineMachine.item}}-{{row.silk.doffingNum}}
      </td>
    </ng-container>

    <ng-container matColumnDef="netWeight">
      <th *matHeaderCellDef mat-header-cell>{{'netWeight'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.netWeight|number:'.3-3'}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</section>
