<form *ngIf="isAdmin$|async" class="search-area">
  <span fxFlex></span>
  <button (click)="create()" mat-mini-fab tabindex="-1" type="button">
    <mat-icon>add</mat-icon>
  </button>
</form>

<mat-divider></mat-divider>

<mat-table [dataSource]="workshops$" fxFlex>
  <ng-container matColumnDef="corporation">
    <mat-header-cell *matHeaderCellDef>{{'corporation'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.corporation.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>{{'Common.name'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef fxFlex="100px" fxLayoutAlign="center center">{{'CODE'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="100px" fxLayoutAlign="center center">{{row.code}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sapT001ls">
    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{'Workshop.sapT001ls'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row" fxLayoutAlign="center center">
      <ng-container *ngTemplateOutlet="sapT001lsTemp;context:{sapT001ls:row.sapT001ls}"></ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sapT001lsPallet">
    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{'Workshop.sapT001lsPallet'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row" fxLayoutAlign="center center">
      <ng-container *ngTemplateOutlet="sapT001lsTemp;context:{sapT001ls:row.sapT001lsPallet}"></ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sapT001lsForeign">
    <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{'Workshop.sapT001lsForeign'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row" fxLayoutAlign="center center">
      <ng-container *ngTemplateOutlet="sapT001lsTemp;context:{sapT001ls:row.sapT001lsForeign}"></ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="btns">
    <mat-header-cell *matHeaderCellDef fxFlex="100px" fxLayoutAlign="center center">{{'Common.operation'|translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="100px" fxLayoutAlign="center center">
      <button (click)="update(row)" color="primary" mat-button>
        {{'Common.edit'|translate}}
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns$|async; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns$|async;"></mat-row>
</mat-table>

<!--<table mat-table [dataSource]="workshops$" fxFlex>-->
<!--  <ng-container matColumnDef="id">-->
<!--    <th mat-header-cell *matHeaderCellDef>ID</th>-->
<!--    <td mat-cell *matCellDef="let row" (dblclick)="copy(row.id)">{{row.id}}</td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="corporation">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'corporation'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row">{{row.corporation.name}}</td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'Common.name'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row">{{row.name}}</td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="code">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'code'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row">{{row.code}}</td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="sapT001ls">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'sapT001ls'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row">-->
<!--      <ng-container *ngTemplateOutlet="sapT001lsTemp;context:{sapT001ls:row.sapT001ls}"></ng-container>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="sapT001lsPallet">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'sapT001lsPallet'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row" fxLayout fxLayoutAlign="center center">-->
<!--      <ng-container *ngTemplateOutlet="sapT001lsTemp;context:{sapT001ls:row.sapT001lsPallet}"></ng-container>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="sapT001lsForeign">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'sapT001lsForeign'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row">-->
<!--      <ng-container *ngTemplateOutlet="sapT001lsTemp;context:{sapT001ls:row.sapT001lsForeign}"></ng-container>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="btns">-->
<!--    <th mat-header-cell *matHeaderCellDef>{{'Common.operation'|translate}}</th>-->
<!--    <td mat-cell *matCellDef="let row">-->
<!--      <button (click)="update(row)" color="primary" mat-button>-->
<!--        {{'Common.edit'|translate}}-->
<!--      </button>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns$|async; sticky: true"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns$|async;"></tr>-->
<!--</table>-->

<ng-template #sapT001lsTemp let-sapT001ls="sapT001ls">
  <mat-list dense>
    <mat-list-item *ngFor="let it of sapT001ls;last as last">
      <div fxLayout fxLayoutGap="16px" matLine>
        <span>{{it.lgort}}</span>
        <span>{{it.lgobe}}</span>
      </div>
      <!--      <mat-divider *ngIf="!last"></mat-divider>-->
    </mat-list-item>
  </mat-list>
</ng-template>
