<form (ngSubmit)="update()" [formGroup]="form">
  <h2 mat-dialog-title>{{title|translate}}</h2>

  <mat-dialog-content fxLayout="column">

    <mat-form-field>
      <input [placeholder]="'corporation'|translate" [value]="'sdfasdfsaf'" matInput readonly required>
      <mat-error></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [placeholder]="'Common.name'|translate" cdkFocusInitial formControlName="name" matInput required>
      <mat-error *ngIf="form.get('name').hasError('required')">
        {{'Validator.required'|translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [placeholder]="'Common.code'|translate" formControlName="code" matInput required>
      <mat-error *ngIf="form.get('code').hasError('required')">
        {{'Validator.required'|translate}}
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button color="warn" mat-button mat-dialog-close type="button">{{'Common.cancel'|translate}}</button>
    <button color="primary" mat-button>{{'Common.finish'|translate}}</button>
  </mat-dialog-actions>
</form>
