<header fxLayout fxLayoutAlign="start center">
  <span fxFlex="50px">{{event.operator.name}}</span>
  <span fxFlex>{{event.fireDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
  <button [matMenuTriggerFor]="menu" mat-button type="button">
    {{('DyeingPrepareType.' + dyeingPrepare.type)|translate}}
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button (click)="undo()" [disabled]="!canUndo()" mat-menu-item type="button">{{'Common.undo'|translate}}</button>
  </mat-menu>
</header>

<section fxLayout="column">
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="code">
      <th *matHeaderCellDef mat-header-cell>{{'Silk.code'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.silk.code}}</td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>{{'position'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{calcPosition(row)}}</td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th *matHeaderCellDef mat-header-cell>{{'grade'|translate}}</th>
      <td *matCellDef="let row" mat-cell>{{row.grade?.name}}</td>
    </ng-container>

    <ng-container matColumnDef="spec">
      <th *matHeaderCellDef mat-header-cell>{{'spec'|translate}}</th>
      <td *matCellDef="let row" mat-cell>
        {{row.silk.lineMachine.line.name}}-{{row.silk.spindle}}/{{row.silk.lineMachine.item}}-{{row.silk.doffingNum}}
      </td>
    </ng-container>

    <ng-container matColumnDef="result">
      <th *matHeaderCellDef mat-header-cell>
        <ng-container *ngIf="!dyeingPrepare.submitted">
          <span style="color: red">{{'DyeingResult.unResult'|translate}}</span>
        </ng-container>
        <ng-container *ngIf="dyeingPrepare.submitted">
          {{'DyeingResult.result'|translate}}
        </ng-container>
      </th>
      <td *matCellDef="let row" mat-cell>
        <ng-container *ngIf="dyeingPrepare.submitted">
          <div [class.error]="row.hasException" class="dyeing-result"></div>
        </ng-container>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>


  <!--  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>-->
  <!--    <ng-container matColumnDef="code">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{'Silk.code'|translate}}</th>-->
  <!--      <td mat-cell *matCellDef="let row">{{row.silk.code}}</td>-->
  <!--    </ng-container>-->

  <!--    <ng-container matColumnDef="position">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{'position'|translate}}</th>-->
  <!--      <td mat-cell *matCellDef="let row">{{row.sideType}}-{{row.row}}-{{row.col}}</td>-->
  <!--    </ng-container>-->

  <!--    <ng-container matColumnDef="grade">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{'grade'|translate}}</th>-->
  <!--      <td mat-cell *matCellDef="let row">{{row.grade?.name}}</td>-->
  <!--    </ng-container>-->

  <!--    <ng-container matColumnDef="spec">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{'spec'|translate}}</th>-->
  <!--      <td mat-cell *matCellDef="let row">-->
  <!--        {{row.silk.lineMachine.line.name}}-{{row.silk.spindle}}/{{row.silk.lineMachine.item}}-{{row.silk.doffingNum}}-->
  <!--      </td>-->
  <!--    </ng-container>-->

  <!--    <ng-container matColumnDef="netWeight">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{'netWeight'|translate}}</th>-->
  <!--      <td mat-cell *matCellDef="let row">{{row.netWeight|number:'.3-3'}}</td>-->
  <!--    </ng-container>-->

  <!--    <ng-container matColumnDef="expandedDetail">-->
  <!--      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">-->
  <!--        <div class="example-element-detail"-->
  <!--             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
  <!--          <div class="example-element-diagram">-->
  <!--            <div class="example-element-position"> {{element.position}} </div>-->
  <!--            <div class="example-element-symbol"> {{element.symbol}} </div>-->
  <!--            <div class="example-element-name"> {{element.name}} </div>-->
  <!--            <div class="example-element-weight"> {{element.weight}} </div>-->
  <!--          </div>-->
  <!--          <div class="example-element-description">-->
  <!--            {{element.description}}-->
  <!--            <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </td>-->
  <!--    </ng-container>-->

  <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="expandedElement = expandedElement === row ? null : row"></tr>-->
  <!--    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>-->
  <!--  </table>-->
</section>
