<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout fxLayoutAlign="start center" mat-dialog-title>
    <span fxFlex>{{title|translate}}</span>

    <button color="warn" mat-dialog-close mat-icon-button tabindex="-1" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content fxLayout="column">

    <mat-form-field>
      <mat-select [compareWith]="compareWithId" [placeholder]="'workshop'|translate" formControlName="workshop">
        <mat-option *ngFor="let it of workshops$|async" [value]="it">
          {{it.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('workshop').hasError('required')">
        {{'Validator.required'|translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [placeholder]="'name'|translate" formControlName="name" matInput required>
      <mat-error *ngIf="form.get('name').hasError('required')">
        {{'Validator.required'|translate}}
      </mat-error>
    </mat-form-field>

    <div fxLayout fxLayoutGap="32px" style="margin: 16px 0;">
      <mat-button-toggle-group formControlName="doffingType">
        <mat-button-toggle *ngFor="let it of doffingTypes" [value]="it">{{('DoffingType.' + it)|translate}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button [disabled]="form.pristine||form.invalid" color="primary" mat-button>{{'Common.finish'|translate}}</button>
  </mat-dialog-actions>
</form>
