@import "../../../../../library";

section.diff {
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, .12);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, .12);
}

button.line-menu {
  margin-right: -12px;
}
