@import "../../../library";

.mat-dialog-content {
  padding: 0;
}

main.fill {
  overflow: hidden;

  section.left,
  section.right {
    overflow-y: auto;
  }

  section.left {
    .mat-list {
      padding: 0;
      //div.mat-line{
      //  font-size: 14px;
      //}
    }
  }
}

a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 48px;
  outline: 0;
  border: none;
}
