<div fxLayout fxLayoutAlign="start center" mat-dialog-title>
  <span fxFlex>
    {{packageBox?.code|translate}}
    — {{('PackageBoxType.' + packageBox?.type)|translate}}
    — {{packageBox?.creator.name}}
    — {{packageBox?.createDateTime|date:'yyyy-MM-dd HH:mm:ss'}}
  </span>

  <button color="warn" mat-dialog-close mat-icon-button tabindex="-1" type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content fxLayout="column">
  <main class="fill" fxFill fxLayout>

    <section class="left" fxFlex="200px" fxLayout="column">
      <mat-form-field>
        <input [placeholder]="'batchNo'|translate" [value]="packageBox?.batch.batchNo" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'grade'|translate" [value]="packageBox?.grade.name" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'silkCount'|translate" [value]="packageBox?.silkCount" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'netWeight'|translate" [value]="packageBox?.netWeight|number:'.3-3'" matInput readonly required>
        <span matSuffix>KG</span>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'grossWeight'|translate" [value]="packageBox?.grossWeight|number:'.3-3'" matInput readonly required>
        <span matSuffix>KG</span>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'PackageBox.budat'|translate" [value]="(packageBox?.budat|date:'yyyy-MM-dd')+' / '+packageBox?.budatClass?.name" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'PackageBox.sapT001l'|translate" [value]="packageBox?.sapT001l?.lgort+' / '+(('SaleType.'+packageBox?.saleType)|translate)" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'palletType'|translate" [value]="packageBox?.palletType" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'PackageBox.packageType'|translate" [value]="packageBox?.packageType" matInput readonly required>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'foamType'|translate" [value]="packageBox?.foamType" matInput readonly required>
      </mat-form-field>
      <mat-form-field>
        <input [placeholder]="'foamNum'|translate" [value]="packageBox?.foamNum" matInput readonly required>
      </mat-form-field>
    </section>

    <mat-divider vertical></mat-divider>

    <section class="right" fxFlex>
      <ng-container *ngIf="packageBox?.type==='AUTO'">
        <mat-table [dataSource]="silks$">
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef>{{'Silk.code'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="spec">
            <mat-header-cell *matHeaderCellDef>{{'Silk.spec'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.lineMachine.line.name}} - {{row.spindle}}
              / {{row.lineMachine.item}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="doffingNum">
            <mat-header-cell *matHeaderCellDef>{{'doffingNum'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.doffingNum}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="doffingType">
            <mat-header-cell *matHeaderCellDef>{{'doffingType'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{('DoffingType.' + row.doffingType)|translate}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="doffingOperator">
            <mat-header-cell *matHeaderCellDef>{{'doffingOperator'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.doffingOperator.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="doffingDateTime">
            <mat-header-cell *matHeaderCellDef>{{'doffingDateTime'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.doffingDateTime|date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </ng-container>

      <ng-container *ngIf="packageBox?.type==='MANUAL'">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let silkCarRecord of silkCarRecords$|async">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{silkCarRecord.silkCar.code}}
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-table [dataSource]="silkCarRecords$">
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef>{{'SilkCar.code'|translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.silkCar.code}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </mat-expansion-panel>
        </mat-accordion>


        <!--        <mat-table [dataSource]="silkCarRecords$">-->
        <!--          <ng-container matColumnDef="code">-->
        <!--            <mat-header-cell *matHeaderCellDef>{{'SilkCar.code'|translate}}</mat-header-cell>-->
        <!--            <mat-cell *matCellDef="let row">{{row.silkCar.code}}</mat-cell>-->
        <!--          </ng-container>-->

        <!--          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>-->
        <!--          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
        <!--        </mat-table>-->
      </ng-container>
    </section>

  </main>
</mat-dialog-content>
