@import "../../../../library";

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.mat-table {
  overflow-y: auto;

  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    justify-content: center;
  }

  .line-sum,
  .mat-footer-cell {
    font-weight: bold;
  }

  .mat-cell:first-of-type,
  .mat-footer-cell:first-of-type,
  .mat-header-cell:first-of-type {
    padding-left: 0;
  }

  .mat-cell:last-of-type,
  .mat-footer-cell:last-of-type,
  .mat-header-cell:last-of-type {
    padding-right: 0;
  }
}
