<div *ngFor="let it of packageBoxes" class="package-box" fxLayout>
  <div class="box batchNo bold">{{it.batch.batchNo}}</div>
  <div class="box spec">{{it.batch.spec}}</div>
  <div class="box grade bold">{{it.grade.name}}</div>
  <div class="box silkCount">{{it.silkCount}}</div>
  <div class="box tubeColor">{{it.batch.tubeColor}}</div>
  <div class="box printDate">{{it.budat|date:'yyyy-MM-dd'}}</div>
  <div class="box code" fxFlexAlign="center center" fxLayout="column" fxLayoutGap="4">
    <div>{{it.code.substring(0, 12)}}</div>
    <div>{{it.code.substring(12)}}</div>
  </div>

  <div class="box netWeight">{{it.netWeight|number:'.3-3'}}</div>
  <div class="box grossWeight">{{it.grossWeight|number:'.3-3'}}</div>
  <qrcode [qrdata]="it.code" [usesvg]="true"></qrcode>
</div>
