<div *ngFor="let it of packageBoxes" class="package-box" fxLayout>
  <section fxFlex="40" fxFlexAlign="center center" fxFlexOffset="19" fxLayout="column">
    <span class="line bold">{{it.batch.batchNo}}</span>
    <span class="line">{{it.batch.spec}}</span>
    <span class="line bold">{{it.grade.name}}</span>
    <span class="line">{{it.silkCount}}</span>
    <span class="line">{{it.batch.tubeColor}}</span>
    <span class="line">{{it.budat|date:'yyyy-MM-dd'}}</span>
    <div fxFlexAlign="center center" fxLayout="column">
      <span class="line" style="line-height: 0.82cm">{{it.code.substring(0, 12)}}</span>
      <span class="line" style="line-height: 0.82cm">{{it.code.substring(12)}}</span>
    </div>
  </section>

  <section fxFlex fxLayout="column">
    <span class="line" style="text-align: right;padding-right: 0.5cm">{{it.netWeight}}</span>
    <span class="line" style="text-align: right;padding-right: 0.5cm">{{it.grossWeight}}</span>
    <qrcode [qrdata]="it.code" [usesvg]="true" style="width:8cm;height:8cm;"></qrcode>
  </section>
</div>
